<h1 class="text-3xl font-bold text-center mb-4 text-gray-600">SEND A GET REQUEST</h1>
<ul>
  <li>
    <button hx-get="/get/books" hx-target="#response" class="text-xl font-light text-gray-900 transform transition-transform hover:scale-105">BOOKS</button>
  </li>
  <li>
    <button hx-get="/get/movies" hx-target="#response" class="text-xl font-light text-gray-900 transform transition-transform hover:scale-105">MOVIES</button>
  </li>
  <li>
    <button hx-get="/get/tv" hx-target="#response" class="text-xl font-light text-gray-900 transform transition-transform hover:scale-105">TV SERIES</button>
  </li>
</ul>

<button hx-get="/home" hx-target="#all" hx-swap="innerHTML" class="text-xl font-light text-gray-900 transform transition-transform hover:scale-105">HOME</button>
<div id="response"></div>
